<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ygorjs.acadsystem" >

    <uses-sdk android:minSdkVersion="14"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".Interface.MainActivityEquipamentoCad" >

     </activity>


      <activity android:name=".Interface.MainActivityUsuarioCad" >

        </activity>

       <activity android:name=".Interface.MainActivityExercicioCad" >

        </activity>

        <activity android:name=".Interface.MainActivityAssociacaoCad">


        </activity>
        <activity android:name=".Interface.MainActivityDashBoard">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Interface.MainActivityAssociacaoCons">


        </activity>

        <activity android:name=".Interface.MainActivityAssociacaoAlter">

        </activity>


        <activity android:name=".Interface.MainActivityUsuarioCons">


        </activity>

        <activity android:name=".Interface.MainActivityUsuarioAlter">


        </activity>

        <activity android:name=".Interface.MainActivityExercicioCons">


        </activity>

        <activity android:name=".Interface.MainActivityExercicioAlter">


        </activity>

        <activity android:name=".Interface.MainActivityEquipamentoCons">


        </activity>
        <activity android:name=".Interface.MainActivityEquipamentoAlter">

        </activity>

    </application>

</manifest>
